@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
ul,ol {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
    background-color: rgba(117, 150, 199, 0.596);
    }
header {
  background-color: rgba(139, 151, 185, 0.836);
  position: sticky;
  top: 0;
  z-index: 3;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: antiquewhite;
}

h1, h2, h3, h4 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  background-color:rgba(139, 151, 185, 0.836);
  margin-top: 15px;
  padding: 5px;
  font-size: 25px;
}

img {
  max-width: 350px;
  object-fit: cover;
}

.imagenes-logo {
  width: 100px;
  margin-left: 5px;
}


@media (min-width: 764px) {
  img {
    object-fit: contain;
  }
  h1 {
    font-size: 50px;
  }
  h2, h3, h4 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  img {
    max-width: 700px;
  }
  h2, h3, h4 {
    font-size: 35px;
  }
}
header .navbar {
    background-color:rgba(32, 68, 168, 0.836) ;
}
.navbar{
    flex-wrap: nowrap;
}
.navbar-nav {
  width: 150px;
}

.navbar-toggler {
  background-color: rgb(235, 214, 21);
  border-radius: 10px;
  border-color: black ;
}
.navbar-toggler-icon{
    color: black;
}

.nav-item {
  color: antiquewhite;
  justify-content: end;
  background-color: rgba(15, 77, 128, 0.685);
  width: 300px;
  border: solid rgba(202, 66, 12, 0.76);
  border-bottom-right-radius: 30px;
  text-align: center;
  padding: 3px;
  margin-top: 10px;
}

.nav-link {
  color: antiquewhite;
  width: auto;
}

.dropdown-item {
  border-radius: 30px;
  width: 200px;
  text-align: center;
  background-color: rgba(202, 66, 12, 0.76);
  margin-top: 5px;
  color: antiquewhite;
  overflow: auto;
}

input {
  margin: 20px;
}


.producto {
  text-align: center;
  border: 4px solid black;
  max-width: 400px;
  height: auto;
  padding: 15px;
  border-color: rgb(167, 130, 11);
  margin: 1px 1px 1px 1px;
  align-items: center;
}
.producto-detalles {
  background-color: var(--clr-main);
  color: var(--clr-white);
  padding: .5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}


.tarjeta__img {
  max-width: 100%;
  object-fit: cover;
}

.tarjeta__titulo {
  text-align: center;
}

.tarjeta__title4 {
  text-align: center;
  padding-top: 5px;
  color: rgb(255, 255, 255);
}

.tienda__title {
  color: rgb(99, 15, 15);
}

.tarjeta__precio {
  color: rgb(99, 15, 15);
  display: block;
  padding: 10px 0;
  font-size: 1.5rem;
}

.caja__1 {
  max-width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.boton-menu {
  background-color: transparent;
  border: 0;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: .85rem;
  width: 100%;
}

.boton-menu.active {
  background-color: var(--clr-white);
  color: var(--clr-main);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.boton-menu.active::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: .5rem;
  box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: .5rem;
  box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
  transform: rotateZ(90deg);
}

.boton-carrito {
  margin-top: 2rem;
}

.numerito {
  background-color: var(--clr-white);
  color: var(--clr-main);
  padding: .15rem .25rem;
  border-radius: .25rem;
}

.boton-carrito.active .numerito {
  background-color: var(--clr-main);
  color: var(--clr-white);
}

.texto-footer {
  color: var(--clr-main-light);
  font-size: .85rem;
}

main {
  background-color: var(--clr-white);
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: var(--clr-main);
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-gray);
  color: var(--clr-main);
  padding: .5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: .75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--clr-gray);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--clr-gray);
  padding: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--clr-main);
  padding: 1rem;
  color: var(--clr-white);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.close-menu {
  display: none;
}

.disabled {
  display: none;
}

@media screen and (max-width: 400px) {
  .contenedor-productos {
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  
  .boton-menu.active::before,
  .boton-menu.active::after {
      display: none;
  }

  main {
      margin: 1rem;
      margin-top: 0;
      padding: 2rem;
  }

  .contenedor-productos {
      grid-template-columns: 1fr 1fr;
  }

  .header-mobile {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .header-mobile .logo {
      color: var(--clr-gray);
  }

  .open-menu, .close-menu {
      background-color: transparent;
      color: var(--clr-gray);
      border: 0;
      font-size: 2rem;
      cursor: pointer;
  }

  .close-menu {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
  }

  .carrito-producto {
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: .5rem;
  }

  .carrito-producto-subtotal {
      display: none;
  }

  .carrito-acciones {
      flex-wrap: wrap;
      row-gap: 1rem;
  }
}

@media screen and (max-width: 675px) {
  .contenedor-productos {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 764px) {
  .grancaja__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-direction: row-reverse;
  }
  .caja__1 {
    display: flex;
    flex-direction: column;
  }
}
footer {
  background-size: auto;
  max-width: 100%;
  margin-top: 10px;
  border-top: 2px solid;
  border-color: antiquewhite;
}

.container__footer {
  background-color: rgba(29, 25, 25, 0.829);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box__footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 40px 40px 0px 40px;
}

.box__footer .logo img {
  width: 20px;
}

.box__footer h2 {
  padding: 10px;
  margin-bottom: 15px;
  color: aliceblue;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: antiquewhite;
  font-weight: 500;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

footer p {
  background: none;
}

footer a img {
  width: 15px;
}

.logo {
  max-width: 100px;
  border-radius: 25px 25px 25px;
  margin-top: 15px;
}

.inline {
  display: flex;
  display: inline-block;
}

.box__copyright {
  border-top: antiquewhite;
  max-width: 1200px;
  text-align: center;
  color: antiquewhite;
}

.box__copyright p {
  border-top: antiquewhite;
  margin-top: 20px;
  color: #7a7a7a;
  text-align: center;
}

.box__copyright--corpored {
  display: flex;
  justify-content: center;
}

@media (min-width: 764px) {
  .box__copyright {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 1em;
  }
}
@media screen and (max-width: 850px) {
  .contenedor-productos {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
